body {
    font-family: 'Arial', sans-serif;
    background-color: #2c3e50;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #ecf0f1;
}

h1 {
    color: #ecf0f1;
    font-size: 36px;
    margin-bottom: 20px;
}

.container {
    text-align: center;
}

#outer {
    width: 330px;
    height: 330px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.inner {
    background-color: #3498db;
    border: 2px solid #2980b9;
    padding: 40px;
    width: 100%;
    box-sizing: border-box;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
#result {
    font-size: 24px;
    margin-bottom: 20px;
    color: #ecf0f1;
}


.inner:hover {
    background-color: #2980b9;
    color: #ecf0f1;
}

.inner[data-value="X"] {
    color: #e74c3c;
}

.inner[data-value="O"] {
    color: #27ae60;
}

.inner[data-value="O"]:hover {
    background-color: #27ae60;
}
